@import "./base/reset" ;
@import "./base/tipografia";
@import "./colores/colores" ;


/*BODY*/
/*NAVEGADOR PRINCIPAL*/
/*Footer */
/*INDEX*/
/*About Me*/
/*Contacto*/
/* PORTFOLIO */
/*SHOPS*/
/*Responsive*/


.nav {
	display: flex;
	justify-content: space-around;
	background: white;
	height: 100%;
	width: 100%;
	font-family: $font-family_1;
}
#aboutme {
	height: 11.5vw;
}
.ul1 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	height: 11.5vw;
	width: 100%;
	list-style-type: none;
	li {
		a {
			text-decoration: none;
			padding: 2vw;
			font-size: 2.5rem;
			color: $color_1;
		}
	}
}
.logo {
	width: 10vw;
}
.pie-pagina {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 5rem;
	width: 100%;
	background-color: $background-color_1;
	font-size: 2rem;
	margin-top: 1.5vw;
}
.fdiv {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-around;
	img {
		width: 4vw;
		margin-top: 1vw;
	}
}
.grupo2 {
	display: flex;
	justify-content: center;
	margin-top: 0.5vw;
	font-size: 1rem;
}
.portada {
	display: flex;
	flex-wrap: nowrap;
}
.principal1 {
	height: 50vw;
	width: 60vw;
}
.ammain {
	display: flex;
	background-image: url(../assets/img/fondoaboutme.jpeg);
	background-size: cover;
	flex-direction: column;
	padding: 5vw;
	font-family: $font-family_1;
	font-size: 1.5rem;
}
.amdiv {
	text-align: center;
	word-spacing: 1.5;
	letter-spacing: 0.2rem;
	line-height: 2rem;
	margin-top: 1rem;
	padding-top: 0.5rem;
	background-color: rgba(255, 255, 255, 0.255)
}
#contenedorcarousel {
	margin-top: 5%;
	margin-right: 35%;
	margin-left: 35%;
	margin-bottom: 0%;
}
.imgaboutme {
	width: 476px;
	height: 650px;
}
.mainc {
	background: url(../assets/img/FONDO\ CONTACTO.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 80vw;
	background-color: $background-color_2;
	border-style: none;
	padding-bottom: 10%;
}
.mainp {
	background-color: $background-color_3;
	width: 100%;
}
.grid {
	display: grid;
	grid-template-areas: "foto1 foto2 foto3 foto4" "foto5 foto6 foto7 foto8";
	grid-template-columns: repeat (4, 1fr);
	grid-template-rows: repeat (2, 2fr);
	width: 100%;
	padding-top: 1%;

}
.foto1 {
	width: 24.7vw;
	height: 37vw;
	padding: 1%;
}
.foto2 {
	width: 24.7vw;
	height: 37vw;
	padding: 1%;
}
.foto3 {
	width: 24.7vw;
	height: 37vw;
	padding: 1%;
}
.foto4 {
	width: 24.7vw;
	height: 37vw;
	padding: 1%;
}
.foto5 {
	width: 24.7vw;
	height: 37vw;
	padding: 1%;
}
.foto6 {
	width: 24.7vw;
	height: 37vw;
	padding: 1%;
}
.foto7 {
	width: 24.7vw;
	height: 37vw;
	padding: 1%;
}
.foto8 {
	width: 24.7vw;
	height: 37vw;
	padding: 1%;
}
.pp {
	text-align: center;
	word-spacing: 1;
	letter-spacing: 0.1rem;
	background-color: $background-color_4;
	color: $color_2;
	background-image: url(../assets/img/FONDO\ CONTACTO.jpg);
	padding: 5%;
}
.shops {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background: black;
	padding: 50px;
	width: 100%;
}
.pdiv {
	background-color: $background-color_1;
	text-align: center;
	width: 18vw;
	height: 100vh;
	border-radius: 2%;
	border: solid white;
}
.sp {
	color: $color_2;
	padding-top: 0%;
	font-family: $font-family_1;
	height: 45vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	p {
		width: 100%;
		font-size: 1rem;
	}
}
.fotosshop {
	width: 100%;
	&:hover {
		scale: 1.2;
		opacity: 100%;
	}
}
@media screen and (max-width:576px) {
	.pie-pagina {
		margin-top: 3vw;
	}
	.nav {
		width: 100%;
		background-color: $background-color_5;
		li {
			a {
				font-size: 1.5rem;
			}
		}
	}
	.ammain {
		padding: 0vw;
	}
	p {
		font-size: 1rem;
	}
	.pdiv {
		background-color: $background-color_1;
		text-align: center;
		width: 18vw;
		height: 40vh;
		border-radius: 2%;
		border: solid white;
		background-color: $background-color_1;
		text-align: center;
		width: 18vw;
		height: 60vh;
		border-radius: 2%;
		border: solid white;
	}
	.imgaboutme {
		width: 238px;
		height: 325px;
	}
	#contenedorcarousel {
		margin-top: 15%;
		margin-bottom: 30%;
		width: 100%;
		height: 100%;
		
		
	}
	.shops {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		background: black;
		padding: 35px, 35px, 35px, 10px;
		width: 100%;
		gap: 2px;
	}
	
	.sp {
		color: $color_2;
		padding-top: 0%;
		font-family: $font-family_1;
		height: 20vh;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		p {
			width: 100%;
			font-size: 0.5rem;
		}
	}
	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 1vw;
		margin-right: 1vw;
		background-color: $background-color_2;
		border-style: none;
		padding-bottom: 10%;
	}
    .grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.foto1 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto2 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto3 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto4 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto5 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto6 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto7 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto8 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}

}
