@media screen and (max-width:756px) {
    .nav {
        background-color: $background-color_5;
        align-items: center;
        ul {
            margin-bottom: 0;
            padding-left: 0;
            li{
                a{
                    font-size: 1.5rem;
                    text-align: center;
                    align-items: center;
                }
            }
        }
        div {
            a {
                img {
                    vertical-align: middle;
                }
            }
        }
    }

	/* Index */
.principal1 {
	height: 60vw;
	width: 33.3vw;
}

/* About Me */ 
#contenedorcarousel {
	margin-top: 5%;
	margin-right: 0%;
	margin-left: 7%;
	margin-bottom: 0%;
}

.shops {
	display: flex;
	flex-direction: column;
}
.pdiv {
	width: 90%;
	margin: 5%;
}
}

@media screen and (max-width:576px) {
/* NAVEGADOR */
.nav {
    width: 100%;
    height: 55.18px;
    background-color: $background-color_5;
    align-items: center;
    ul {
        margin-bottom: 0;
        padding-left: 0;
        li {
            a {
                font-size: 20px;
                text-align: center;
                align-items: center;
            }
        }
    }
    div {
        a {
            img {
                vertical-align: middle;
            }
        }
    }
}
	/*FOOTER*/
	.pie-pagina {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 2rem;
		width: 100%;
		background-color: $background-color_1;
		font-size: 2rem;
		margin-top: 28.8px;
	}
	.fdiv {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		align-content: space-around;
		margin-top: 20px;
		img {
			width: 76.8px;
			margin-top: 19.2px;
		}
	}
	.grupo2 {
		display: flex;
		justify-content: center;
		margin-top: 9.6px;
		font-size: 1rem;
	}

	/*Index*/

	.portada {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.principal1 {
		height: 110vw;
		width: 100vw;
	}

	/* About Me*/
	.ammain {
		padding: 0vw;
	}
	p {
		font-size: 1rem;
	}
	.imgaboutme {
		width: 238px;
		height: 325px;
	}
	#contenedorcarousel {
		margin-top: 5%;
		margin-right: 0%;
		margin-left: 25%;
		margin-bottom: 4%;
	}

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 1vw;
		margin-right: 1vw;
		background-color: $background-color_2;
		border-style: none;
		padding-bottom: 10%;
	}
    .grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.foto1 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto2 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto3 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto4 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto5 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto6 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto7 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
	.foto8 {
		width: 300px;
		height: 400px;
		padding: 1%;
	}
}