$color_1: #2852A8;
$color_2: black;
$background-color_1: white;
$background-color_2: rgba(128, 128, 128, 0.555);
$background-color_4: rgba(0, 0, 255, 0.452);
$background-color_5: rgba(54, 63, 131, 0.329);

