/* Index */
.principal1 {
	height: 50vw;
	width: 60vw;
}

/*About Me*/
.imgaboutme {
	width: 476px;
	height: 650px;
}

/*Contacto*/
.mainc {
	background: url(../assets/img/FONDO\ CONTACTO.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* PORTFOLIO */
.mainp {
	background-color: $color_2;
	width: 100%;
}

.foto1 {
	width: map-get($map: $imagenes_portfolio, $key: ancho );
	height: map-get($map: $imagenes_portfolio, $key: alto );
	padding: map-get($map: $imagenes_portfolio, $key: espacio );
}

.foto2 {
	width: map-get($map: $imagenes_portfolio, $key: ancho );
	height: map-get($map: $imagenes_portfolio, $key: alto );
	padding: map-get($map: $imagenes_portfolio, $key: espacio );
}

.foto3 {
	width: map-get($map: $imagenes_portfolio, $key: ancho );
	height: map-get($map: $imagenes_portfolio, $key: alto );
	padding: map-get($map: $imagenes_portfolio, $key: espacio );
}

.foto4 {
	width: map-get($map: $imagenes_portfolio, $key: ancho );
	height: map-get($map: $imagenes_portfolio, $key: alto );
	padding: map-get($map: $imagenes_portfolio, $key: espacio );
}

.foto5 {
	width: map-get($map: $imagenes_portfolio, $key: ancho );
	height: map-get($map: $imagenes_portfolio, $key: alto );
	padding: map-get($map: $imagenes_portfolio, $key: espacio );
}

.foto6 {
	width: map-get($map: $imagenes_portfolio, $key: ancho );
	height: map-get($map: $imagenes_portfolio, $key: alto );
	padding: map-get($map: $imagenes_portfolio, $key: espacio );
}

.foto7 {
	width: map-get($map: $imagenes_portfolio, $key: ancho );
	height: map-get($map: $imagenes_portfolio, $key: alto );
	padding: map-get($map: $imagenes_portfolio, $key: espacio );
}

.foto8 {
	width: map-get($map: $imagenes_portfolio, $key: ancho );
	height: map-get($map: $imagenes_portfolio, $key: alto );
	padding: map-get($map: $imagenes_portfolio, $key: espacio );
}

/*Shop*/
.fotosshop {
	width: 100%;

	&:hover {
		scale: 1.2;
		opacity: 100%;
	}
}