/* Index */
.principal1 {
	height: 50vw;
	width: 60vw;
}

/*About Me*/
.imgaboutme {
	width: 476px;
	height: 650px;
}

/*Contacto*/
.mainc {
	background: url(../assets/img/FONDO\ CONTACTO.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* PORTFOLIO */
.mainp {
	background-color: $color_2;
	width: 100%;
}

.foto1 {
	width: 24.5vw;
	height: 38vw;
	padding: 0.5%;
}

.foto2 {
	width: 24.5vw;
	height: 38vw;
	padding: 0.5%;
}

.foto3 {
	width: 24.5vw;
	height: 38vw;
	padding: 0.5%;
}

.foto4 {
	width: 24.5vw;
	height: 38vw;
	padding: 0.5%;
}

.foto5 {
	width: 24.5vw;
	height: 38vw;
	padding: 0.5%;
}

.foto6 {
	width: 24.5vw;
	height: 38vw;
	padding: 0.5%;
}

.foto7 {
	width: 24.5vw;
	height: 38vw;
	padding: 0.5%;
}

.foto8 {
	width: 24.5vw;
	height: 38vw;
	padding: 0.5%;
}

/*Shop*/
.fotosshop {
	width: 100%;

	&:hover {
		scale: 1.2;
		opacity: 100%;
	}
}